# File: docker-compose.yml
version: '3.8'

services:
    # Nginx Web Server
    nginx:
        image: nginx:alpine
        container_name: datasync_nginx
        ports:
            - "8000:80"
        volumes:
            - ./:/var/www/html
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - php
        networks:
            - datasync_network
        restart: unless-stopped


networks:
    datasync_network:
        driver: bridge

volumes:
    mysql_data:
        driver: local
    postgres_data:
        driver: local
    mongodb_data:
        driver: local
    redis_data:
        driver: local
